* {
  font-family: "Rubik", sans-serif;
}

body {
  background-color: hsl(226, 43%, 10%) !important;
  color: aliceblue !important;
}
.container {
  height: 68vh;
}

.content {
  margin-top: 10% !important;
  height: 300px !important;
}

.border {
  margin: 10px;
  width: 250px !important;
  border-radius: 15px;
}

.tab-header {
  height: 400px;
  padding: 0 !important;
  overflow: hidden;
  background-color: #1d204bff;
}
.tab-item {
  height: 200px;
  background-size: 55px !important;
  padding-top: 35px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.img {
  background-color: hsl(246, 80%, 60%);
  margin: 0 !important;
  width: 99.9% !important;
  border-radius: 15px;
  padding: 18px;
  height: 65%;
}

.img p {
  font-size: 12px !important;
  margin-top: 35px;
  color: #7f84c6ff;
}
.img h2 {
  margin-top: -10px;
  font-weight: 100 !important;
}
.time-period {
  padding-top: 18px;
  background-color: inherit;
}

.time-period li {
  margin-top: 5px;
  list-style-type: none;
  cursor: pointer;
  color: hsl(235, 45%, 61%);
}
.time-period li:hover {
  color: aliceblue;
  transition: 0.4s;
}
.time-period li.active {
  color: aliceblue;
}

.work {
  background: hsl(15, 100%, 70%) url(/images/icon-work.svg) no-repeat right top;
  background-size: 60px;

  padding-top: 35px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.tab-item-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 22px;
  align-items: flex-start;
  background-color: #1d204bff;
  height: 100%;
  width: 100%;
  /* padding-top: 20px; */
  border-radius: 15px;
}
.tab-item-info:hover {
  background-color: #34397bff;
  transition: 0.2s;
  cursor: pointer;
}
.tab-item-info svg {
  margin-top: 8px;
  cursor: pointer;
}
.tab-item-info svg path:hover {
  fill: aliceblue;
}
#title {
  font-size: 15px;
  display: block !important;
  font-weight: 200 !important;
  line-height: 1.2;
  margin: 0;
}
.info {
  padding: 10px 3px;
  width: 100%;
}
.hrs {
  font-size: 60px !important;
  font-weight: 200 !important;
  line-height: 1.2;
}
.info p {
  color: #5f6393ff;
}

.play {
  background: hsl(195, 74%, 62%) url(/images/icon-play.svg) no-repeat right top;
}
.study {
  background: hsl(348, 100%, 68%) url(/images/icon-study.svg) no-repeat right
    top;
}
.exercise {
  background: hsl(145, 58%, 55%) url(/images/icon-exercise.svg) no-repeat right
    top;
}
.social {
  background: hsl(264, 64%, 52%) url(/images/icon-social.svg) no-repeat right
    top;
}
.self-care {
  background: hsl(43, 84%, 65%) url(/images/icon-self-care.svg) no-repeat right
    top;
}
.footer-info {
  text-align: center;
  clear: both;
  margin-top: 40px;
}
@media (max-width: 425px) {
  .tab-item {
    margin-top: 20px !important;
  }
  .border {
    width: 90% !important;
  }
  .row {
    overflow: visible;
    margin: 0 auto !important;
  }
  .container {
    width: 100%;
    height: 200vh;
  }
}
